{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}
{% form_theme form 'KunstmaanAdminBundle:Form:fields.html.twig' %}

{% block extrajavascript %}

	 <script type=text/javascript>
	 
		var isEdited = false;
		var oldEdited = false;

		window.onbeforeunload = doUnload;

    	function doUnload(){
    		//$('#quitpagemodal').modal('show');
    		//var t = setTimeout(5000);
    		if(isEdited){
    			return 'You haven\'t saved this page, are you sure you want to close it?';
        	}
        }
		window.onload = doCheckErrors;
//TODO Test
    	function doCheckErrors(){
    		if(document.getElementById("lastfooter") == null){
    			$("input[name='save']").css('display', 'none');
    			$("input[name='saveasdraft']").css('display', 'none');
    			        		
        	}
        }
	</script>
{% endblock %}

{% block page_header_addition %}
{% if draft %} <small>{{ 'pageheader.addition.draft' | trans({}, 'messages', backlang) }} ({{ 'goto' | trans({}, 'messages', backlang) }} <a href="{{ path('KunstmaanAdminNodeBundle_pages_edit', { 'id': node.id, 'subaction': ''}) }}">{{ 'pageheader.addition.public' | trans({}, 'messages', backlang) }}</a>)</small> {% else %} <small>{{ 'pageheader.addition.public' | trans({}, 'messages', backlang) }} {% if draftNodeVersion is not null %} ({{ 'goto' | trans({}, 'messages', backlang) }} <a href="{{ path('KunstmaanAdminNodeBundle_pages_edit', { 'id': node.id, 'subaction': 'draft'}) }}">{{ 'pageheader.addition.draft' | trans({}, 'messages', backlang) }}</a>)</small> {% endif %} {% endif %}
{% endblock %}

{% block content %}
	<div id="quitpagemodal" class="modal hide fade">
				<div class="modal-header">
					<a href="#" class="close">×</a>
					<h3>{{ 'error.unpublish.title' | trans({}, 'messages', backlang) }}</h3>
				</div>
				<div class="modal-body">
					<p>{{ 'error.unpublish.content' | trans({}, 'messages', backlang) }}</p>
				</div>
				<div class="modal-footer">
					<a href="#" onClick="iets=true;" class="btn danger">Unpublish</a>
					<a href="#" class="btn cancel">{{ 'cancel' | trans({}, 'messages', backlang) }}</a>
				</div>
	</div>
    <form id="pageadminform" action="{{ path('KunstmaanAdminNodeBundle_pages_edit', { 'id': node.id, 'subaction': subaction}) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    <div class="sub_actions">
      {% if not draft %}
        {% if nodeTranslation.online %}
          <a href="#" data-controls-modal="unpub" data-backdrop="true" data-keyboard="true">{{ 'unpublish' | trans({}, 'messages', backlang) }}</a>
          <div id="unpub" class="modal hide fade">
				<div class="modal-header">
					<a href="#" class="close">×</a>
					<h3>{{ 'error.unpublish.title' | trans({}, 'messages', backlang) }}</h3>
				</div>
				<div class="modal-body">
					<p>{{ 'error.unpublish.content' | trans({}, 'messages', backlang) }}</p>
				</div>
				<div class="modal-footer">
					<a href="{{ path('KunstmaanAdminNodeBundle_pages_edit_unpublish', { 'id': node.id}) }}" class="btn danger">{{ 'unpublish' | trans({}, 'messages', backlang) }}</a>
					<a href="#" class="btn cancel">{{ 'cancel' | trans({}, 'messages', backlang) }}</a>
				</div>
			</div>
        {% else %}
          <a href="#" data-controls-modal="pub" data-backdrop="true" data-keyboard="true">{{ 'Publish' | trans({}, 'messages', backlang) }}</a>
		  <div id="pub" class="modal hide fade">
				<div class="modal-header">
					<a href="#" class="close">×</a>
					<h3>{{ 'error.unpublish.title' | trans({}, 'messages', backlang) }}</h3>
				</div>
				<div class="modal-body">
					<p>{{ 'error.unpublish.content' | trans({}, 'messages', backlang) }}</p>
				</div>
				<div class="modal-footer">
					<a href="{{ path('KunstmaanAdminNodeBundle_pages_edit_publish', { 'id': node.id}) }}" class="btn danger">{{ 'Publish' | trans({}, 'messages', backlang) }}</a>
					<a href="#" class="btn cancel">{{ 'cancel' | trans({}, 'messages', backlang) }}</a>
				</div>
			</div>
        {% endif %}
      {% endif %}
        <a href="#" data-controls-modal="versions" data-backdrop="true" data-keyboard="true">{{ 'versions' | trans({}, 'messages', backlang) }}</a>
        <div id="versions" class="modal hide fade">
			<div class="modal-header">
				<a href="#" class="close">×</a>
				<h3>{{ 'versions' | trans({}, 'messages', backlang) }}</h3>
			</div>
			<div class="modal-body" style="height:300px;overflow:scroll">
				<table class="bordered-table zebra-striped">
                    <thead>
                    <tr>
                    	<th>Nr</th>
                        <th>Type</th>
                        <th>{{ 'date' | trans({}, 'messages', backlang) }}</th>
                        <th>{{ 'user' | trans({}, 'messages', backlang) }}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for nodeVersion in nodeVersions %}
                            <tr>
                            	<td><a href="{{ path('KunstmaanAdminNodeBundle_pages_edit', { 'id': node.id, 'version': nodeVersion.id }) }}">{{ nodeVersion.version }}</a></td>
                                <td>{{ nodeVersion.type }}</td>
                                <td>{{ nodeVersion.updated | date('Y-m-d H:i:s') }}</td>
                                <td>{{ nodeVersion.owner }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn cancel">{{ 'close' | trans({}, 'messages', backlang) }}</a>
			</div>
		</div>
    </div>

    {% set nodemenuCurrent = nodemenu.current %}
    {% set pagePossibleChildPages = page.possibleChildPageTypes %}
    <!--Main-->
	<div class="main_actions">
	  {% if draft %}
	    <input onClick="isEdited=false" type="submit" class="btn primary" name="save" value="{{ 'form.saveasdraft' | trans({}, 'messages', backlang) }}">
	    <input type="submit" class="btn" name="saveandpublish" value="{{ 'form.publish' | trans({}, 'messages', backlang) }}">
	    <a class="btn" href="{{ path('_slug_draft', { 'slug': nodemenuCurrent.slug }) }}" target="_blank">{{ 'preview' | trans({}, 'messages', backlang) }}</a>
	  {% else %}
		  <input onClick="isEdited=false" type="submit" class="btn primary" name="save" value="{{ 'form.save' | trans({}, 'messages', backlang) }}">
	      <input onClick="isEdited=false" type="submit" class="btn" name="saveasdraft" value="{{ 'form.saveasdraft' | trans({}, 'messages', backlang) }}">
	      <a class="btn" href="{{ path('_slug', { 'slug': nodemenuCurrent.slug }) }}" target="_blank">{{ 'preview' | trans({}, 'messages', backlang) }}</a>
	      {% if pagePossibleChildPages is not empty %}<button data-controls-modal="add-subpage-modal" data-backdrop="true" class="btn">{{ 'form.addsubpage' | trans({}, 'messages', backlang) }}</button>{% endif %}
	      <button onClick="oldEdited = isEdited; isEdited=false" data-controls-modal="delete-page-modal" data-backdrop="true" class="btn danger">{{ 'delete' | trans({}, 'messages', backlang) }}</button>
	  {% endif %}
      {#<button class="btn" data-controls-modal="cancel" data-backdrop="true" data-keyboard="true">Cancel</button>#}
    </div>
    <!--Scroll-->
    <div class="main_actions top" id="main_actions_top">
      <div class="pull-right">
        {% if draft %}
	      <input onClick="isEdited=false" type="submit" class="btn primary" name="save" value="{{ 'form.saveasdraft' | trans }}">
	      <input type="submit" class="btn" name="saveandpublish" value="{{ 'form.publish' | trans }}">
          <a class="btn" href="{{ path('_slug_draft', { 'slug': nodemenuCurrent.slug }) }}" target="_blank">{{ 'preview' | trans({}, 'messages', backlang) }}</a>
	    {% else %}
		  <input onClick="isEdited=false" type="submit" class="btn primary" name="save" value="{{ 'form.save' | trans({}, 'messages', backlang) }}">
	      <input onClick="isEdited=false" type="submit" class="btn" name="saveasdraft" value="{{ 'form.saveasdraft' | trans({}, 'messages', backlang) }}">
	      <a class="btn" href="{{ path('_slug', { 'slug': nodemenuCurrent.slug }) }}" target="_blank">{{ 'preview' | trans({}, 'messages', backlang) }}</a>
          {% if pagePossibleChildPages is not empty %}<button data-controls-modal="add-subpage-modal" data-backdrop="true" class="btn">{{ 'form.addsubpage' | trans({}, 'messages', backlang) }}</button>{% endif %}
	      <button onClick="oldEdited = isEdited; isEdited=false" data-controls-modal="delete-page-modal" data-backdrop="true" class="btn danger">{{ 'delete' | trans({}, 'messages', backlang) }}</button>
	    {% endif %}
        {#<button class="btn" data-controls-modal="cancel" data-backdrop="true" data-keyboard="true">Cancel</button>#}
        <a class="btn up">&#9650;</a>
      </div>
    </div>

    {% if pagePossibleChildPages is not empty %}
    <div id="add-subpage-modal" class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>{{ 'form.addsubpage' | trans({}, 'messages', backlang) }}</h3>
      </div>
      <div class="modal-body">
        <script type="text/javascript">
	        function doAddpage(link){
		        link.href="{{ path('KunstmaanAdminNodeBundle_pages_edit', { 'id': node.id, 'subaction': subaction}) }}" + "?addpage="+jQuery('#addpage_type').val() + "&addpagetitle=" + jQuery('#addpage_title').val();
	            return true;
	        }
	    </script>
        <div class="input_prop">
          <label for="form-add-gallery">{{ 'title' | trans({}, 'messages', backlang) }}</label>
          <input id="addpage_title" type="text" id="form-add-gallery" name="addpagetitle_disabled">
        </div>
        <div class="input_prop">
          <label for="form-add-gallery">Type</label>
          <select id="addpage_type" name="addpage_disabled">
            {% for pageType in pagePossibleChildPages %}
              <option value="{{pageType.class}}">{{pageType.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <a onclick="return doAddpage(this)" href="#" class="btn primary">{{ 'add' | trans({}, 'messages', backlang) }}</a>
        <a onclick="$('#add-subpage-modal').modal('hide')" href="#" class="btn secondary">{{ 'cancel' | trans({}, 'messages', backlang) }}</a>
      </div>
    </div>
    {% endif %}
    <div id="delete-page-modal" class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>{{ 'page.delete' | trans({}, 'messages', backlang) }} '{{page.title}}'</h3>
      </div>
      <div class="modal-body">
        <script type="text/javascript">
          function doDeletepage(link){
            link.href="{{ path('KunstmaanAdminNodeBundle_pages_edit', { 'id': node.id}) }}" + "?delete=true";
            return true;
          }
        </script>
        <p>{{ 'page.deletetext' | trans({}, 'messages', backlang) }}</p>
       </div>
      <div class="modal-footer">
        <a onclick="return doDeletepage(this)" href="#" class="btn primary">{{ 'delete' | trans({}, 'messages', backlang) }}</a>
        <a onclick="$('#delete-page-modal').modal('hide'); isEdited = oldEdited" href="#" class="btn secondary">{{ 'cancel' | trans({}, 'messages', backlang) }}</a>
      </div>
    </div>
      <ul class="tabs" data-tabs="tabs">
      		{% set alreadyexiststab = false %}
        	{% for pagepartadmin in pagepartadmins %}
        			{% set pagepartstab = 'pageparts'~loop.index %}
        			{% set alreadyexiststab = true %}
        			<li onClick="jQuery('#currenttab').val('pageparts{{ loop.index }}');" {% if currenttab == pagepartstab %} class="active" {% endif %}>
        	      		 <a href="#pageparts{{ loop.index }}">{{ pagepartadmin.name | trans({}, 'messages', backlang) }}</a>
        	         </li>
        	{% endfor %}
            {% if is_granted('ROLE_PERMISSIONMANAGER') %}
            <li {% if currenttab == 'permissions' or alreadyexiststab == false %} class="active" {% endif %} onClick="jQuery('#currenttab').val('permissions');"><a href="#permissions">{{ 'form.permissions' | trans({}, 'messages', backlang) }}</a></li>
            	{% set alreadyexiststab = true %}
            {% endif %}
            <li {% if currenttab == 'seo' or alreadyexiststab ==false %} class="active" {% endif %} onClick="jQuery('#currenttab').val('seo');"><a href="#seo">SEO</a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
        	<input type="hidden" name="currenttab" id="currenttab" value="{{ currenttab }}">
        	{% set propertiesform = false %}
            {% for pagepartadmin in pagepartadmins %}
            	{% set pagepartstab = 'pageparts'~loop.index %}
	        	<div class="{% if currenttab == pagepartstab %}active{% endif %} tab-pane" id="pageparts{{ loop.index }}">
	        		{% if propertiesform ==false %}
	        			{% set propertiesform = true %}
		        		<div id="properties">
				    			<div id="prop_wrp">
					    			<div class="input_prop">
					    				{{ form_widget(form.main) }}
					    			</div>
					    			<div class="input_prop">
					    				{{ form_widget(form.node) }}
					    			</div>
					    			<div class="input_prop">
					    				{{ form_widget(form.nodetranslation) }}
					    			</div>
					    		</div>
				    	</div>
			    	{% endif %}
			    	{% for key, extraform in form %}
				    	{% if key != 'main' and key == pagepartadmin.context %}
					    	<div id="properties">
					    		<div id="prop_wrp">
						    		<div class="input_prop">
						    			 {{ form_widget(extraform) }}
						    		</div>
						    	</div>
					    	</div>
					    {% endif %}
				    {% endfor %}
	                {{ pagepartadmin_widget(pagepartadmin, form) }}
	            </div>
        	{% endfor %}

            {% if is_granted('ROLE_PERMISSIONMANAGER') %}
            <div class="{% if currenttab == 'permissions' or propertiesform == false %}active{% endif %} tab-pane" id="permissions">
            	{% if propertiesform == false %}
	        			{% set propertiesform = true %}
		        		<div id="properties">
				    			<div id="prop_wrp">
					    			<div class="input_prop">
					    				{{ form_widget(form.main) }}
					    			</div>
					    			<div class="input_prop">
					    				{{ form_widget(form.node) }}
					    			</div>
					    		</div>
				    	</div>
			    {% endif %}
                {{ permissionsadmin_widget(permissionadmin, form) }}
            </div>
            {% endif %}

            <div class="tab-pane" id="children">
                <table class="bordered-table zebra-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'title' | trans({}, 'messages', backlang) }}</th>
                        <th>{{ 'type' | trans({}, 'messages', backlang) }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#
                        {% for child in page.children %}
                            <tr>
                                <td>{{ child.sequencenumber }}</td>
                                <td><a href="{{ path('KunstmaanAdminNodeBundle_pages_edit', { 'id': child.id, 'entityname': 'KunstmaanAdminBundle:Page' }) }}">{{ child.title }}</a></td>
                                <td>Page</td>
                            </tr>
                        {% endfor %}
                    #}
                    </tbody>
                </table>
            </div>
            <div class="{% if currenttab == 'seo' %}active{% endif %} tab-pane" id="seo">
            	{% if propertiesform == false %}
	        			{% set propertiesform = true %}
		        		<div id="properties">
				    			<div id="prop_wrp">
					    			<div class="input_prop">
					    				{{ form_widget(form.main) }}
					    			</div>
					    			<div class="input_prop">
					    				{{ form_widget(form.node) }}
					    			</div>
					    		</div>
				    	</div>
			    	{% endif %}
              	<div id="properties">
				    			<div id="prop_wrp">
					    			<div class="input_prop">
					    				{{ form_row(seoform.metaauthor) }}
					    			</div>
					    			<div class="input_prop">
										{{ form_row(seoform.metadescription) }}
					    			</div>
						    		<div class="input_prop">
											{{ form_row(seoform.metakeywords) }}
						    		</div>
						    		<div class="input_prop">
											{{ form_row(seoform.metarobots) }}
						    		</div>
						    		<div class="input_prop">
											{{ form_row(seoform.metarevised) }}
						    		</div>
					    		</div>
				   </div>
                   {{ form_rest(seoform) }}
            </div>
        </div>
        {{ form_rest(form) }}
    </form>

{% endblock %}

